{% extends 'base.html' %}
{% load i18n bootstrap4 %}

{% block content %}
    <main role="main" class="container wrapper flex-grow-1">
        <h1 class="my-4">{% translate 'All Quizzes and Polls' %}</h1>
        <div class="container">
            <a href="{% url 'quiz:new' %}" class="btn btn-dark">{% translate 'New quiz' %}</a>
        </div>
        <div class="container">
            <form class="form-inline center my-auto" method="get">
                {% csrf_token %}
                {% bootstrap_form filter.form form_group_class="form-group" field_class="ml-2 mr-3 my-3" %}
                {% bootstrap_button button_text button_type="submit"  button_class="btn btn-dark" %}
            </form>
        </div>
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">{% translate 'Name' %}</th>
                    <th scope="col">{% translate 'Created by' %}</th>
                    <th scope="col">{% translate 'Type' %}</th>
                    <th scope="col">{% translate 'Created at' %}</th>
                    <th scope="col">{% translate 'Last modified' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in filter.qs %}
                <tr>
                    <th scope="row">{{quiz.id}}</th>
                    <td><a href="{% url 'quiz:quiz_card' quiz.id %}">{{quiz.name}}</a></td>
                    <td>{{quiz.author}}</td>
                    <td>
                        {% if quiz.is_poll %}
                            {% translate 'Poll' %}
                        {% else %}
                            {% translate 'Quiz' %}
                        {% endif %}
                    </td>
                    <td>{{quiz.created_at}}</td>
                    <td>{{quiz.modified_at}}</td>
                </tr>              
                {% endfor %}
            </tbody> 
        </table>
    </main>
{% endblock %}