{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Quiz details' %}</h1>

    <div class="card">
        <h5 class="card-header">{{quiz.name}}</h5>
        <div class="card-body">
          <p class="card-text">{{quiz.description}}</p>
          <p><a href="{% url 'run:takes_list' quiz.id %}" class="btn btn-dark">{% translate 'Quiz takes results' %}</a></p>
          <table class="table table-sm table-borderless">
            <tr>
                <td>{% translate 'Author' %}</td>
                <td>
                  {{quiz.author}}
                  {% if quiz.author.first_name or quiz.author.last_name %}
                    <br/>{{quiz.author.first_name}} {{quiz.author.last_name}}
                  {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% translate 'Created at' %}</td>
                <td>{{quiz.created_at}}</td>
            </tr>
            <tr>
                <td>{% translate 'Last modified' %}</td>
                <td>{{quiz.modified_at}}</td>
            </tr>
          </table>
          {% if user.id == quiz.author.id %}
          <a href="{% url 'quiz:quiz_update' quiz.id %}" class="btn btn-dark">{% translate 'Edit' %}</a>
          <a href="{% url 'quiz:quiz_delete' quiz.id %}" class="btn btn-dark">{% translate 'Delete' %}</a>
          <a href="{% url 'quiz:question_new' quiz.id %}" class="btn btn-dark">{% translate 'Add question' %}</a>
          {% endif %}
          {% if objects %}
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Questions' %}</h5>
              <table class="table table-sm table-borderless">
                {% for question in objects %}
                  <tr>
                    <td>{{question.q_number}}</td>
                    <td>
                      <a href="{% url 'quiz:question_card' quiz.id question.id %}">{{question.text|truncatechars:40}}</a>
                    </td>
                    <td>{{question.get_q_type_display}}</td>
                    <td>{% translate 'Points' %}: {{question.points}}</td>
                    <td>
                        <a href="{% url 'quiz:question_update' quiz.id question.id %}" class="btn btn-dark">{% translate 'Edit' %}</a>
                        <a href="{% url 'quiz:question_delete' quiz.id question.id %}" class="btn btn-dark">{% translate 'Delete' %}</a>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
        </div>
    </div>

</main>
{% endblock content %}