{% extends 'base.html' %}
{% load i18n bootstrap4 %}

{% block content %}
    <main role="main" class="container wrapper flex-grow-1">
        <h1 class="my-4">{% translate 'Quiz takes' %}</h1>
        
        
        
        <div class="card">
            <h5 class="card-header">{{take.quiz.name}}</h5>
            <div class="card-body">
              <p class="card-text">ID: {{take.id}}, {% translate 'Taker name' %}: <b>{{take.taker_name}}</b></p>
              <p class="card-text">{{take.quiz_date}}</p>

              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">{% translate 'Answers' %}</h5>
                  <table class="table table-sm table-borderless">
                    {% for qu in q_list %}
                    <tr>
                        <td>{{qu.q_number}}</td>
                        <td>{{qu.text}}</td>
                        <td>
                            {% for entry in log %}
                                {% if entry.q_id == qu %}
                                <p>{{ entry.a_id.a_number }}. {{ entry.a_id.text }}</p>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
        </div>
    </main>
{% endblock %}